//Stylesheet for Email Signature Generator

//Developed by: Peter Berki
//Developed for: Meyer Sound


@import "variables"
@import "mixins"

body
	background-color: $pureWhite

label,
legend,
input,
form,
fieldset,
select,
a,
h2,
button
	font-family: $typeface
	+borderRadius(4px)
	font-weight: lighter
	font-size: 14px
	text-decoration: none

a
	color: $ms_crimson
	transition: color 0.5s ease

a:hover,
a:focus
	color: $ms_crimsonTrans
	text-decoration: none
h2
	font-size: 24px
	line-height: 29px

select
	display: block

label
	+absoluteZero
	margin-top: 10px

input,
select
	border: $borderStyle
	display: block
	margin: 5px 0
	padding: 4px

input
	width: 100%

fieldset
	padding: 1.5em 2em 1.5em
	border: $borderStyle
	background-color: $typeWhite

legend
	font-family: $typeface
	font-size: 18px
	text-align: center
	line-height: 23px
	width: 40%
	border: 0

form
	width: 100%
	margin-top: 10%

button
	background-color: $pureWhite
	color: $ms_blue_second
	+borderRadius(8px)
	border: 2px solid $ms_blue_second
	transition: background-color 0.5s ease

button:hover
	background-color: $ms_blue_second_hov

.highlight
	padding: 4px 6px
	+borderRadius(4px)
	background-color: $ms_yellow

#copyPaste
	margin-top: -150px
	transition: all 0.5s ease

.overhang
	margin: 0 auto
	position: fixed
	height: 100px
	text-align: center
	background-color: $ms_ltGrey
	z-index: 99999999999999

.overhang h4
	line-height: 24px

.copy_button
	margin-top: 40px
	width: 120px
	height: 40px
	font-size: 16px

#padTop
	margin-top: 0%
	margin-left: -10%
	left: -50%
	position: fixed
	padding-top: 200px
	padding-left: 250px
	z-index: 200000
	height: 110%
	width: 640px
	background-color: white
	transition: all 0.5s ease

#submit
	margin-top: 1.5em
	background-color: $pureWhite
	color: $ms_blue_second
	border: 1px solid $ms_blue_second
	float: right
	width: 120px
	height: 40px
	font-size: 16px
	+borderRadius(8px)
	//+boxShadow(0px 0px 0px $ms_blueShade)
	transition: all 0.5s ease
	
#submit:hover
	background-color: $ms_blue_second_hov
	//+boxShadow(6px 6px 0px $ms_blueShade)

button input
	font-size: 14px
	line-height: 19px
	vertical-align: middle

.ms-nav .container
	height: 100px
.ms-nav
	margin: 0 auto
	background-color: $rich_grey
	border: 0

.navbar-brand
	margin: 0 auto

.navbar-title
	font-size: 16px
	line-height: 22px
	display: block
	margin-top: 20%

#ms-brand a
	font-size: 20px
	color: $ms_blue
	transition: all 0.5s ease

#ms-brand a:hover
	text-decoration: none
	color: $ms_blueShade

.notSelectable
	margin: 0 auto
	+unSelect(none)

.selectable
	+unSelect(all)

.instructions
	margin-top: 10%
	padding: 1.5em 2em 1.5em

.instructions h2,
.instructions li
	font-family: $typeface
	color: $ms_black

.important
	border-left: 4px solid $ms_crimson
	//margin-top: 4px
	//height: 6px
	//background-color: $ms_crimsonTrans

.instructions ol
	+absoluteZero
	margin-left: 30px

.instructionsForm
	@extend .instructions

ol
	li
		font-size: 16px
		line-height: 22px
		ul
			list-style: none
			width: 100%
			margin: 20px auto
			padding: 0
			padding: 20px 30px
			+borderRadius(8px)
			background-color: $typeWhite
			li
				display: block
				font-size: 14px
				line-height: 17px
				padding: 0 10px
				margin: 4px auto

#blackBG
	position: fixed
	+absoluteZero
	width: 100%
	height: 100%
	display: none
	background-color: rgba(0,0,0,0)
	z-index: 55555
	transition: all 0.5s ease

#close-button
	position: absolute
	+absoluteZero
	top: 140px
	margin-left: 300px
	+borderRadius(20px)
	+typeTreatment($typeface,18px,27px,$pureWhite, center)
	+perfectSquare(30px)
	background-color: $ms_blue_second
	cursor: pointer
	z-index: 555555
	+unSelect(none)
	transition: all 0.5s ease

#close-button:hover
	background-color: $ms_blue_second_hov

@media screen and (max-width: 1200px)
	#blackBG
		height: 110%
		width: 180%

@media screen and (max-width: 992px)
	#padTop
		left: -1000px

	.overhang
		width: 100%
	.instructions
		margin-top: 14%

	.instructionsForm
		margin-top: 0

@media screen and (max-width: 767px)
	.navbar-nav
		float: right

	.navbar-title
		margin-top: 0
		display: none

	form
		width: 100%

	.instructions
		margin-top: 20%


	.instructionsForm
		margin-top: 0

	.padTop
		margin-top: 8%

	#padTop
		margin-top: 0
		margin-left: 0
		padding-left: 40px
		width: 400px
