body {
  background-color: #ffffff; }

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; }

p {
  margin: 0 auto;
  padding: 0; }

label,
legend,
input,
form,
fieldset,
select,
a,
h2,
button {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font-weight: lighter;
  font-size: 14px;
  text-decoration: none; }

a {
  color: #5a85d7;
  transition: color 0.5s ease; }

a:hover,
a:focus {
  color: #19549a;
  text-decoration: none; }

h2 {
  font-size: 24px;
  line-height: 29px; }

select,
iframe,
video {
  display: block; }

iframe,
video {
  margin: 0 auto;
  padding: 0;
  display: absolute;
  float: right;
  margin-top: 140px; }

label {
  margin: 0 auto;
  padding: 0;
  margin-top: 10px; }

input,
select {
  border: 1px solid #d5d5d2;
  display: block;
  margin: 5px 0;
  padding: 4px; }

input {
  width: 100%; }

fieldset {
  padding: 1.5em 2em 1.5em;
  border: 1px solid #d5d5d2;
  background-color: #eeeded; }

legend {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  width: 40%;
  border: 0; }

form {
  width: 100%;
  margin-top: 10%; }

button {
  background-color: #ffffff;
  color: #456fc4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 2px solid #456fc4;
  transition: background-color 0.5s ease; }

button:hover {
  background-color: #19336a; }

.video-overlay {
  position: absolute;
  width: 100%;
  z-index: 199999; }

.video-overlay iframe,
.video-overlay video {
  margin-right: 10%; }

#videoOverlay {
  display: none;
  transition: all 0.5s ease; }

#vid-tut {
  opacity: 0;
  transition: all 0.5s ease; }

.bold, .highlight {
  padding: 0;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.highlight {
  padding: 4px 6px;
  background-color: #f4d422; }

.font-brand {
  margin-top: 6px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 17px; }

#copyPaste {
  transition: all 0.5s ease; }

.rowPad {
  margin-right: 1em; }

.overhang {
  margin: 5px auto;
  padding: 20px;
  text-align: left;
  background-color: #eeeded;
  z-index: 99999999999999;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; }

.overhang h2,
.overhang h4 {
  margin: 0 auto;
  line-height: 32px; }

.overhang h2 {
  padding-bottom: 10px; }

.copy_button {
  margin-top: 40px;
  width: 120px;
  height: 40px;
  font-size: 16px; }

#padTop {
  margin-top: 0%;
  margin-left: 0%;
  left: -50%;
  position: fixed;
  padding-top: 60px;
  padding-left: 100px;
  z-index: 200000;
  height: 110%;
  width: 35%;
  background-color: white;
  transition: all 0.5s ease; }

#submit, #close-button {
  margin-top: 1.5em;
  background-color: #ffffff;
  color: #5a85d7;
  border: 1px solid #5a85d7;
  float: right;
  width: 120px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  transition: all 0.5s ease; }

#submit:hover, #close-button:hover {
  color: #ffffff;
  background-color: #5a85d7; }

#close-button {
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 1em; }

button input {
  font-size: 14px;
  line-height: 19px;
  vertical-align: middle; }

.ms-nav .container {
  height: 100px; }

.ms-nav {
  margin: 0 auto;
  background-color: #222222;
  border: 0; }

.navbar-brand {
  margin: 0 auto; }

.navbar-title {
  font-size: 16px;
  line-height: 22px;
  display: block;
  margin-top: 60px; }

#ms-brand a {
  font-size: 20px;
  color: #5a85d7;
  transition: all 0.5s ease; }

#ms-brand a:hover {
  text-decoration: none;
  color: #19549a; }

.notSelectable {
  margin: 0 auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectable {
  -moz-user-select: all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all; }

.instructions, .copyInst, .instructionsForm {
  margin-top: 10%;
  padding: 1.5em 2em 1.5em; }

.instructions h2, .copyInst h2, .instructionsForm h2,
.instructions li,
.copyInst li,
.instructionsForm li {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #231f20; }

.copyInst {
  margin-top: 0;
  border: 1px solid #d5d5d2;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; }

.important {
  border-left: 4px solid #9d053b; }

.instructions ol, .copyInst ol, .instructionsForm ol {
  margin: 0 auto;
  padding: 0;
  margin-left: 30px; }

ol li {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 10px; }
  ol li ul {
    list-style: none;
    width: 100%;
    margin: 20px auto 10px auto;
    padding: 0;
    padding: 20px 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #eeeded; }
    ol li ul li {
      display: block;
      font-size: 14px;
      line-height: 17px;
      padding: 0 10px;
      margin: 10px auto; }

#blackBG {
  position: fixed;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: transparent;
  z-index: 55555;
  transition: all 0.5s ease; }

.phone-list {
  display: block;
  width: 100%; }

.phone-ext {
  display: inline;
  width: 20%; }

.phone-list label,
.phone-list input,
.phone-ext label,
.phone-ext input {
  display: inline; }

.phone-list input {
  width: 70%; }

.phone-ext input {
  width: 20%; }

@media screen and (max-width: 1200px) {
  #blackBG {
    height: 110%;
    width: 180%; }

  .phone-list input {
    width: 67%; }

  .phone-ext input {
    width: 20%; }

  #padTop {
    width: 50%; } }
@media screen and (max-width: 992px) {
  #padTop {
    left: -1000px;
    width: 100%; }

  .overhang {
    width: 100%; }

  .instructions, .copyInst, .instructionsForm {
    margin-top: 14%; }

  .copyInst {
    margin-top: 0; }

  .instructionsForm {
    margin-top: 0; }

  #form {
    margin: 0 auto; }

  .phone-list input {
    width: 71%; }

  .phone-ext input {
    width: 10%; } }
@media screen and (max-width: 767px) {
  .navbar-nav {
    float: right; }

  .navbar-title {
    margin-top: 0;
    display: none; }

  form {
    width: 100%; }

  .instructions, .copyInst, .instructionsForm {
    margin-top: 20%; }

  .instructionsForm {
    margin-top: 0; }

  .padTop {
    margin-top: 8%; }

  #padTop {
    margin-top: 0;
    margin-left: 0;
    padding-left: 40px; }

  .copyInst {
    margin-top: 0; }

  .phone-ext input {
    width: 15%; } }
@media screen and (max-width: 440px) {
  .phone-list input {
    width: 67%; }

  .phone-ext input {
    width: 15%; } }
