body {
  background-color: #ffffff; }

label,
legend,
input,
form,
fieldset,
a {
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-weight: lighter; }

label {
  margin: 0 auto;
  padding: 0;
  margin-top: 10px;
  font-size: 14px; }

input {
  border: 1px solid #d5d5d2;
  display: block;
  margin: 6px 0 6px 0;
  padding: 4px;
  width: 100%; }

fieldset {
  padding: 1.5em 2em 1.5em;
  border: 1px solid #d5d5d2;
  background-color: #eeeded; }

legend {
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  width: 40%;
  border: 0; }

form {
  width: 100%; }

.padTop {
  margin-top: 8%; }

#submit {
  margin-top: 2em;
  padding: 8px 10px 6px 10px;
  background-color: #558ac8;
  color: #231f20;
  border: 0;
  float: right;
  width: 120px;
  box-shadow: 0px 0px 0px #19549a;
  -webkit-box-shadow: 0px 0px 0px #19549a;
  -moz-box-shadow: 0px 0px 0px #19549a;
  transition: all 0.5s ease; }

#submit:hover {
  box-shadow: 6px 6px 0px #19549a;
  -webkit-box-shadow: 6px 6px 0px #19549a;
  -moz-box-shadow: 6px 6px 0px #19549a; }

button input {
  font-size: 14px;
  line-height: 19px;
  vertical-align: middle; }

.ms-nav {
  background-color: #231f20; }

#ms-brand a {
  font-size: 20px;
  color: #558ac8; }

.notSelectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media screen and (max-width: 767px) {
  form {
    width: 100%; }

  .padTop {
    margin-top: 8%; } }
