body {
  background-color: #ffffff; }

label,
legend,
input,
form,
fieldset,
select,
a,
h2 {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-weight: lighter;
  font-size: 14px; }

h2 {
  font-size: 24px; }

select {
  display: block; }

label {
  margin: 0 auto;
  padding: 0;
  margin-top: 10px; }

input {
  border: 1px solid #d5d5d2;
  display: block;
  margin: 6px 0 6px 0;
  padding: 4px;
  width: 100%; }

fieldset {
  padding: 1.5em 2em 1.5em;
  border: 1px solid #d5d5d2;
  background-color: #eeeded; }

legend {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  width: 40%;
  border: 0; }

form {
  width: 100%;
  margin-top: 10%; }

#padTop {
  margin-top: -60%;
  margin-left: -10%;
  left: -600px;
  position: absolute;
  padding-top: 15%;
  padding-left: 15%;
  z-index: 2000;
  height: 110%;
  background-color: white;
  transition: all 0.5s ease; }

#submit {
  margin-top: 1.5em;
  padding: 6px 10px 8px 10px;
  background-color: #558ac8;
  color: #231f20;
  border: 1px solid #19549a;
  float: right;
  width: 120px;
  font-size: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 0px 0px 0px #19549a;
  -webkit-box-shadow: 0px 0px 0px #19549a;
  -moz-box-shadow: 0px 0px 0px #19549a;
  transition: all 0.5s ease; }

#submit:hover {
  box-shadow: 6px 6px 0px #19549a;
  -webkit-box-shadow: 6px 6px 0px #19549a;
  -moz-box-shadow: 6px 6px 0px #19549a; }

button input {
  font-size: 14px;
  line-height: 19px;
  vertical-align: middle; }

.ms-nav .container {
  height: 100px; }

.ms-nav {
  margin: 0 auto;
  background-color: #222222;
  border: 0; }

.navbar-brand {
  margin: 0 auto; }

.navbar-title {
  font-size: 16px;
  line-height: 22px;
  display: block;
  margin-top: 20%; }

#ms-brand a {
  font-size: 20px;
  color: #558ac8;
  transition: all 0.5s ease; }

#ms-brand a:hover {
  text-decoration: none;
  color: #19549a; }

.notSelectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.instructions, .instructionsForm {
  margin-top: 10%;
  padding: 1.5em 2em 1.5em; }

.instructions h2, .instructionsForm h2,
.instructions li,
.instructionsForm li {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #231f20; }

.important {
  border-left: 4px solid #9d053b; }

.instructions ol, .instructionsForm ol {
  margin: 0 auto;
  padding: 0;
  margin-left: 30px; }

ol li {
  font-size: 16px;
  line-height: 22px; }
  ol li ul {
    list-style: none;
    width: 100%;
    margin: 20px auto;
    padding: 0;
    padding: 20px 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #eeeded; }
    ol li ul li {
      display: block;
      font-size: 14px;
      line-height: 17px;
      padding: 0 10px;
      margin: 4px auto; }

#blackBG {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  margin: -50%;
  width: 150%;
  height: 95%;
  display: none;
  background-color: transparent;
  transition: all 0.5s ease; }

#close-button {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 100px;
  margin-left: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #558ac8;
  cursor: pointer;
  z-index: 555555;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.5s ease; }

#close-button:hover {
  background-color: #19549a; }

@media screen and (max-width: 1200px) {
  #blackBG {
    height: 110%;
    width: 180%;
    margin: -60%; }

  #padTop {
    margin-top: -65%; } }
@media screen and (max-width: 992px) {
  #padTop {
    left: -1000px; }

  .instructions, .instructionsForm {
    margin-top: 14%; }

  .instructionsForm {
    margin-top: 0; } }
@media screen and (max-width: 767px) {
  .navbar-nav {
    float: right; }

  .navbar-title {
    margin-top: 0;
    display: none; }

  form {
    width: 100%; }

  .instructions, .instructionsForm {
    margin-top: 20%; }

  .instructionsForm {
    margin-top: 0; }

  .padTop {
    margin-top: 8%; } }
