//Stylesheet for Email Signature Generator

//Developed by: Peter Berki
//Developed for: Meyer Sound


@import "variables"
@import "mixins"

body
	background-color: $pureWhite

label,
legend,
input,
form,
fieldset,
select,
a
	font-family: $typeface
	+borderRadius(4px)
	font-weight: lighter
	font-size: 14px

select
	display: block

label
	+absoluteZero
	margin-top: 10px

input
	border: $borderStyle
	display: block
	margin: 6px 0 6px 0
	padding: 4px
	width: 100%

fieldset
	padding: 1.5em 2em 1.5em
	border: $borderStyle
	background-color: $typeWhite

legend
	font-family: $typeface
	font-size: 18px
	text-align: center
	line-height: 23px
	width: 40%
	border: 0

form
	width: 100%

.padTop
	margin-top: 4%

#submit
	margin-top: 1.5em
	padding: 8px 10px 6px 10px
	background-color: $ms_blue
	color: $ms_black
	border: 0
	float: right
	width: 120px
	+boxShadow(0px 0px 0px $ms_blueShade)
	transition: all 0.5s ease
	
#submit:hover
	+boxShadow(6px 6px 0px $ms_blueShade)

button input
	font-size: 14px
	line-height: 19px
	vertical-align: middle

.ms-nav .container
	height: 100px
.ms-nav
	margin: 0 auto
	background-color: $rich_grey
	border: 0

.navbar-brand
	margin: 0 auto

.navbar-title
	font-size: 19px
	line-height: 24px
	display: block
	margin-top: 20%

#ms-brand a
	font-size: 20px
	color: $ms_blue
	transition: all 0.5s ease

#ms-brand a:hover
	text-decoration: none
	color: $ms_blueShade

.notSelectable
	+unSelect

.instructions
	margin-top: 8%
	padding: 1.5em 2em 1.5em

.instructions h2,
.instructions li
	font-family: $typeface
	color: $ms_black

.important
	border-left: 4px solid $ms_crimson
	//margin-top: 4px
	//height: 6px
	//background-color: $ms_crimsonTrans

.instructions ol
	+absoluteZero
	margin-left: 30px

ol
	li
		font-size: 19px
		line-height: 30px
		ul
			list-style: none
			width: 100%
			margin: 10px auto
			li
				display: block
				font-size: 16px
				line-height: 19px
				padding: 0 10px
				margin: 4px auto

@media screen and (max-width: 767px)
	.navbar-nav
		float: right

	.navbar-title
		margin-top: 0
		display: none
	form
		width: 100%

	.instructions
		margin-top: 20%
	.padTop
		margin-top: 8%
